@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
  <title>@title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/index.css")" />
</head>
<body>
  <nav class="navbar navbar" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Phantom Index</a>
    </div>
  </nav>
  <div class="container">
    @content
  </div>
</body>
</html>